/autostart/
/balena-etcher/
/BraveSoftware/
/Code/
/dconf/
/Electron/
/enchant/
/discord/
/eog/
/evolution/
/gedit/
/GIMP/
/gnome-control-center/
/gnome-session/
/goa-1.0/
/gtk-3.0/
/gtk-4.0/
/ibus/
/kitty/
/libreoffice/
/matplotlib/
/nautilus/
/Ovito/
/procps/
/pulse/
/Seafile/
/sublime-text/
/update-notifier/
/VirtualBox/
/VSCodium/
/xournalpp/
/yay/
/.gsd-keyboard.settings-ported
/dleyna-renderer-service.conf
/dleyna-server-service.conf
/gnome-initial-setup-done
/GNOME-xdg-terminals.list
/mimeapps.list
/monitors.xml
/monitors.xml~
/QtProject.conf
/user-dirs.dirs
/user-dirs.locale
/xdg-terminals.list
