/autostart/
/ardour7/
/balena-etcher/
/BraveSoftware/
/cef_user_data/
/Code/
/dconf/
/Electron/
/enchant/
/discord/
/eog/
/evolution/
/exercism/
/gedit/
/GIMP/
/gnome-control-center/
/gnome-session/
/goa-1.0/
/gtk-2.0/
/gtk-3.0/
/gtk-4.0/
/guitarix/
/ibus/
/kitty/
/libreoffice/
/matplotlib/
/nautilus/
/nvim/lazy-lock.json
/octave/
/Ovito/
/pavucontrol-qt/
/procps/
/pulse/
/qBittorrent/
/rncbc.org/
/Seafile/
/Surfshark/
/tmux/plugins/
/sublime-text/
/totem/
/update-notifier/
/VirtualBox/
/vlc/
/VSCodium/
/xournalpp/
/yay/
/.gsd-keyboard.settings-ported
/dleyna-renderer-service.conf
/dleyna-server-service.conf
/gnome-initial-setup-done
/GNOME-xdg-terminals.list
/mimeapps.list
/monitors.xml
/monitors.xml~
/QtProject.conf
/user-dirs.dirs
/user-dirs.locale
/xdg-terminals.list
