/autostart/
/BraveSoftware/
/dconf/
/discord/
/evolution/
/GIMP/
/gnome-control-center/
/gnome-session/
/goa-1.0/
/gtk-3.0/
/gtk-4.0/
/ibus/
/nautilus/
/Ovito/
/procps/
/pulse/
/sublime-text/
/VSCodium/
/xournalpp/
/yay/
/.gsd-keyboard.settings-ported
/dleyna-renderer-service.conf
/dleyna-server-service.conf
/GNOME-xdg-terminals.list
/monitors.xml
/monitors.xml~
/user-dirs.dirs
/user-dirs.locale
/xdg-terminals.list
